div.blankslate {
  width: 100%;
}

div.blankslate > button {
  padding-left: 15px;
  padding-right: 15px;
}

div.blankslate > p {
  line-height: 1.5;
  text-align: center;
}

div.blankslate > pre {
  background-color: white;
  border-radius: 3px;
  margin-top: 0;
  padding: .5rem;
}
